@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

nav {
  background-color: #ff5a33;
}

nav > a {
  color: white;
}

h1 {
  color: #146152;
}

h3 > a {
  color: #44803f;
}

body {
  font-family: "Roboto", sans-serif;
  margin: none;
  padding: none;
}

main {
  padding: 16px;
  margin-bottom: auto;
}

footer {
  padding: 24px 0px 24px 28px;
  position: static;
  bottom: 8px;
  background-color: #b4cf66;
  margin-top: 50px;
}

img {
  height: 200px;
  display: block;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  position: relative;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}

h3 > a:hover {
  color: #146152;
}

.rating {
  margin-top: 10px;
}
